node_modules/
.DS_Store
.idea
.project
.svn
npm-debug.log

dns-save/.current-id

static/index.min.*
.bot-users
bot-token.js
bower_components/
dns-save/
logs/
mongo-data/
mongo-path.js
mongod.conf

# bem
.enb/tmp/
libs/
*bundles*/*/*.*
!*bundles*/*/*.bemdecl.js
*bundles*/*/*.tmpl.bemdecl.js
!*bundles*/.bem/*
