.item__previous-price {
    vertical-align: top;
    color: #999;
    margin-left: 20px;
}

@media screen and (max-width: 320px) {
    .item__previous-price {
        display: block;
        margin-left: 90px;
    }
}
