.item__preview {
    font-size: 140px;
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    float: left;
}

@media screen and (max-width: 320px) {
    .item__preview {
        font-size: 100px;
    }
}
